In [1]:
import numpy as np
import pandas as pd

import tarfile
import gzip
import re
import os
import datetime as dt

In [2]:
year_num = 5 # Number of past years to consider
extremes_num = 10 # Number of hottest and coldest places to display

In [3]:
yearfiles = os.listdir("./gsod_all_years")
yearfiles.sort()
yearfiles = yearfiles[-year_num:]
years = [int(re.findall('\d+',yearfile)[0]) for yearfile in yearfiles]

In [4]:
station_loc = pd.read_csv('isd-history.csv')
station_loc = station_loc.replace([0.0, -999.0, -999.9],np.nan)
station_loc = station_loc[pd.notnull(station_loc['LAT']) & pd.notnull(station_loc['LON'])]
station_loc = station_loc[[int(re.findall('^\d{4}', str(end_year))[0])==max(years) for end_year in station_loc['END']]]
station_loc = station_loc[[int(re.findall('^\d{4}', str(beg_year))[0])<=min(years) for beg_year in station_loc['BEGIN']]]

In [5]:
station_loc['LBL'] = station_loc[['STATION NAME','STATE','CTRY']].apply(lambda x: x.str.cat(sep=', '), axis=1)
station_loc['ELEV_LBL'] = station_loc['ELEV(M)'].apply(lambda x: 'Elevation: '+str(x)+' m' if ~np.isnan(x) else np.nan)
station_loc['LBL'] = station_loc[['LBL','ELEV_LBL']].apply(lambda x: x.str.cat(sep='<br>'), axis=1)
# station_loc = station_loc.drop(['STATION NAME','STATE','ELEV_LBL','ICAO','BEGIN','END'], axis=1)
station_loc = station_loc.drop(['ELEV_LBL','ICAO','BEGIN','END'], axis=1)
#station_loc = station_loc.sample(stat_num)

In [6]:
# Find US Stations
station_loc.head()
us_stations = station_loc.loc[station_loc['CTRY'] == 'US', :]
us_stations_list = us_stations['USAF'].tolist()

In [7]:
df = pd.DataFrame([])
df_day = pd.DataFrame([])

def preprocess_station_file_content(content):
    headers=content.pop(0)
    headers=[headers[ind] for ind in [0,1,2,3,4,8,11,12]]
    for d in range(len(content)):
        content[d]=[content[d][ind] for ind in [0,1,2,3,5,13,17,18]]
    content=pd.DataFrame(content, columns=headers)
    content.rename(columns={'STN---': 'USAF'}, inplace=True)
    content['MAX'] = content['MAX'].apply(lambda x: re.sub("\*$","",x))
    content['MIN'] = content['MIN'].apply(lambda x: re.sub("\*$","",x))
    content[['WBAN','TEMP','DEWP','WDSP','MAX','MIN']] = content[['WBAN','TEMP','DEWP','WDSP','MAX','MIN']].apply(pd.to_numeric)
    content['YEARMODA']=pd.to_datetime(content['YEARMODA'], format='%Y%m%d', errors='ignore')
    content['YEAR']=pd.DatetimeIndex(content['YEARMODA']).year
    content['MONTH']=pd.DatetimeIndex(content['YEARMODA']).month
    content['DAY']=pd.DatetimeIndex(content['YEARMODA']).day
    return content

In [8]:
# yearfile = yearfiles[-1]
# print(yearfile)
# i=0
# tar = tarfile.open("./gsod_all_years/"+yearfile, "r")
# print(len(tar.getmembers()[1:]))
# #for member in np.random.choice(tar.getmembers()[1:], size=stat_num, replace=False):
# for member in tar.getmembers()[1:]:
#     name_parts = re.sub("\.op\.gz$","",re.sub("^\./","",member.name)).split("-")
#     usaf = name_parts[0]
#     wban = int(name_parts[1])
#     if station_loc[(station_loc['USAF']==usaf) & (station_loc['WBAN']==wban)].shape[0]!=0:
#         i=i+1
#         #if i%(stat_num//10) == 0: print(i)
#         f=tar.extractfile(member)
#         f=gzip.open(f, 'rb')
#         content=[re.sub(" +", ",", line.decode("utf-8")).split(",") for line in f.readlines()]
#         content=preprocess_station_file_content(content)
#         df_day = df_day.append(content[content['YEARMODA']==content['YEARMODA'].max()])
#         content = content.groupby(['USAF','WBAN','YEAR','MONTH']).agg('median').reset_index()
#         df = df.append(content)
# tar.close()

In [9]:
# df

In [10]:
# station_loc

In [11]:
# merged_df = pd.merge(df, station_loc, how="right", on="USAF")
# merged_df

In [12]:
# merged_clean_df = merged_df.loc[merged_df["USAF"] != "999999", :]
# merged_clean_df

In [13]:
# merged_clean_df.to_csv('merged_cleaned_dataframe.csv',index=False)

In [14]:
# day = df_day['YEARMODA'].max()
# df_day = df_day[df_day['YEARMODA']==day]

In [15]:
for yearfile in yearfiles[:-1]:
    print(yearfile)
    i=0
    tar = tarfile.open("./gsod_all_years/"+yearfile, "r")
    print(len(tar.getmembers()[1:]))
    #for member in np.random.choice(tar.getmembers()[1:], size=stat_num, replace=False):
    for member in tar.getmembers()[1:]:
        name_parts = re.sub("\.op\.gz$","",re.sub("^\./","",member.name)).split("-")
        usaf = name_parts[0]
        wban = int(name_parts[1])
        if station_loc[(station_loc['USAF']==usaf) & (station_loc['WBAN']==wban)].shape[0]!=0 and (usaf in us_stations_list) and (usaf != 999999):
            i=i+1
            #if i%(stat_num//10) == 0: print(i)
            f=tar.extractfile(member)
            f=gzip.open(f, 'rb')
            content=[re.sub(" +", ",", line.decode("utf-8")).split(",") for line in f.readlines()]
            content=preprocess_station_file_content(content)
#             df_day = df_day.append(content[content['YEARMODA']==content['YEARMODA'].max()])
            df_day = df_day.append(content, ignore_index=True)
            content = content.groupby(['USAF','WBAN','YEAR','MONTH']).agg('median').reset_index()
            df = df.append(content)
    tar.close()

gsod_2015.tar
11664
gsod_2016.tar
12076
gsod_2017.tar
11923
gsod_2018.tar
12875

In [16]:
df_day

,USAF,WBAN,YEARMODA,TEMP,DEWP,WDSP,MAX,MIN,YEAR,MONTH,DAY
0,720561,467,2015-01-01,28.8,15.5,0.6,32.9,25.3,2015,1,1
1,720561,467,2015-01-02,34.5,32.4,0.7,38.1,32.0,2015,1,2
2,720561,467,2015-01-03,38.7,36.7,3.0,43.3,36.9,2015,1,3
3,720561,467,2015-01-04,30.3,19.1,8.4,43.3,17.6,2015,1,4
4,720561,467,2015-01-05,25.6,9.2,4.8,44.6,15.8,2015,1,5
...,...,...,...,...,...,...,...,...,...,...,...
3288833,720348,63886,2018-12-27,52.3,41.5,6.5,60.8,48.2,2018,12,27
3288834,720348,63886,2018-12-28,63.6,61.6,3.8,71.6,57.2,2018,12,28
3288835,720348,63886,2018-12-29,59.1,56.2,1.3,68.0,53.6,2018,12,29
3288836,720348,63886,2018-12-30,55.4,54.8,0.6,59.0,53.6,2018,12,30
3288837,720348,63886,2018-12-31,61.9,61.5,0.9,71.6,57.2,2018,12,31

In [17]:
station_loc

,USAF,WBAN,STATION NAME,CTRY,STATE,LAT,LON,ELEV(M),LBL
11,010010,99999,JAN MAYEN(NOR-NAVY),NO,NaN,70.933,-8.667,9.0,"JAN MAYEN(NOR-NAVY), NO<br>Elevation: 9.0 m"
13,010014,99999,SORSTOKKEN,NO,NaN,59.792,5.341,48.8,"SORSTOKKEN, NO<br>Elevation: 48.8 m"
17,010020,99999,VERLEGENHUKEN,NO,NaN,80.050,16.250,8.0,"VERLEGENHUKEN, NO<br>Elevation: 8.0 m"
18,010030,99999,HORNSUND,NO,NaN,77.000,15.500,12.0,"HORNSUND, NO<br>Elevation: 12.0 m"
21,010060,99999,EDGEOYA,NO,NaN,78.250,22.817,14.0,"EDGEOYA, NO<br>Elevation: 14.0 m"
...,...,...,...,...,...,...,...,...,...
29770,A07355,241,VIROQUA MUNICIPAL AIRPORT,US,WI,43.579,-90.913,394.1,"VIROQUA MUNICIPAL AIRPORT, WI, US<br>Elevation..."
29771,A07357,182,ELBOW LAKE MUNICIPAL PRIDE OF THE PRAIRIE AIRPORT,US,MN,45.986,-95.992,367.3,ELBOW LAKE MUNICIPAL PRIDE OF THE PRAIRIE AIRP...
29772,A07359,240,IONIA COUNTY AIRPORT,US,MI,42.938,-85.061,249.0,"IONIA COUNTY AIRPORT, MI, US<br>Elevation: 249..."
29773,A51255,445,DEMOPOLIS MUNICIPAL AIRPORT,US,AL,32.464,-87.954,34.1,"DEMOPOLIS MUNICIPAL AIRPORT, AL, US<br>Elevati..."
29774,A51256,451,BRANSON WEST MUNICIPAL EMERSON FIELD AIRPORT,US,MO,36.699,-93.402,411.2,"BRANSON WEST MUNICIPAL EMERSON FIELD AIRPORT, ..."

In [18]:
station_loc['WBAN'] = station_loc['WBAN'].astype(float)
station_loc

,USAF,WBAN,STATION NAME,CTRY,STATE,LAT,LON,ELEV(M),LBL
11,010010,99999.0,JAN MAYEN(NOR-NAVY),NO,NaN,70.933,-8.667,9.0,"JAN MAYEN(NOR-NAVY), NO<br>Elevation: 9.0 m"
13,010014,99999.0,SORSTOKKEN,NO,NaN,59.792,5.341,48.8,"SORSTOKKEN, NO<br>Elevation: 48.8 m"
17,010020,99999.0,VERLEGENHUKEN,NO,NaN,80.050,16.250,8.0,"VERLEGENHUKEN, NO<br>Elevation: 8.0 m"
18,010030,99999.0,HORNSUND,NO,NaN,77.000,15.500,12.0,"HORNSUND, NO<br>Elevation: 12.0 m"
21,010060,99999.0,EDGEOYA,NO,NaN,78.250,22.817,14.0,"EDGEOYA, NO<br>Elevation: 14.0 m"
...,...,...,...,...,...,...,...,...,...
29770,A07355,241.0,VIROQUA MUNICIPAL AIRPORT,US,WI,43.579,-90.913,394.1,"VIROQUA MUNICIPAL AIRPORT, WI, US<br>Elevation..."
29771,A07357,182.0,ELBOW LAKE MUNICIPAL PRIDE OF THE PRAIRIE AIRPORT,US,MN,45.986,-95.992,367.3,ELBOW LAKE MUNICIPAL PRIDE OF THE PRAIRIE AIRP...
29772,A07359,240.0,IONIA COUNTY AIRPORT,US,MI,42.938,-85.061,249.0,"IONIA COUNTY AIRPORT, MI, US<br>Elevation: 249..."
29773,A51255,445.0,DEMOPOLIS MUNICIPAL AIRPORT,US,AL,32.464,-87.954,34.1,"DEMOPOLIS MUNICIPAL AIRPORT, AL, US<br>Elevati..."
29774,A51256,451.0,BRANSON WEST MUNICIPAL EMERSON FIELD AIRPORT,US,MO,36.699,-93.402,411.2,"BRANSON WEST MUNICIPAL EMERSON FIELD AIRPORT, ..."

In [19]:
merged_df = pd.merge(df_day, station_loc, how="outer", on="USAF")
merged_df

,USAF,WBAN_x,YEARMODA,TEMP,DEWP,WDSP,MAX,MIN,YEAR,MONTH,DAY,WBAN_y,STATION NAME,CTRY,STATE,LAT,LON,ELEV(M),LBL
0,720561,467.0,2015-01-01,28.8,15.5,0.6,32.9,25.3,2015.0,1.0,1.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
1,720561,467.0,2015-01-02,34.5,32.4,0.7,38.1,32.0,2015.0,1.0,2.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
2,720561,467.0,2015-01-03,38.7,36.7,3.0,43.3,36.9,2015.0,1.0,3.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
3,720561,467.0,2015-01-04,30.3,19.1,8.4,43.3,17.6,2015.0,1.0,4.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
4,720561,467.0,2015-01-05,25.6,9.2,4.8,44.6,15.8,2015.0,1.0,5.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47820080,A07355,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241.0,VIROQUA MUNICIPAL AIRPORT,US,WI,43.579,-90.913,394.1,"VIROQUA MUNICIPAL AIRPORT, WI, US<br>Elevation..."
47820081,A07357,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182.0,ELBOW LAKE MUNICIPAL PRIDE OF THE PRAIRIE AIRPORT,US,MN,45.986,-95.992,367.3,ELBOW LAKE MUNICIPAL PRIDE OF THE PRAIRIE AIRP...
47820082,A07359,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240.0,IONIA COUNTY AIRPORT,US,MI,42.938,-85.061,249.0,"IONIA COUNTY AIRPORT, MI, US<br>Elevation: 249..."
47820083,A51255,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445.0,DEMOPOLIS MUNICIPAL AIRPORT,US,AL,32.464,-87.954,34.1,"DEMOPOLIS MUNICIPAL AIRPORT, AL, US<br>Elevati..."
47820084,A51256,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,451.0,BRANSON WEST MUNICIPAL EMERSON FIELD AIRPORT,US,MO,36.699,-93.402,411.2,"BRANSON WEST MUNICIPAL EMERSON FIELD AIRPORT, ..."

In [20]:
merged_clean_df = merged_df.loc[merged_df['MIN'] != 9999.9]
merged_clean_df = merged_clean_df.loc[merged_clean_df['MAX'] != 9999.9]
merged_clean_df = merged_clean_df.loc[merged_clean_df['TEMP'] != 9999.9]
merged_clean_df = merged_clean_df.loc[merged_clean_df["USAF"] != "999999", :]
merged_clean_df.dropna(how='any')
us_merged_df = merged_clean_df.loc[merged_clean_df["CTRY"] == "US", :]
us_merged_df

,USAF,WBAN_x,YEARMODA,TEMP,DEWP,WDSP,MAX,MIN,YEAR,MONTH,DAY,WBAN_y,STATION NAME,CTRY,STATE,LAT,LON,ELEV(M),LBL
0,720561,467.0,2015-01-01,28.8,15.5,0.6,32.9,25.3,2015.0,1.0,1.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
1,720561,467.0,2015-01-02,34.5,32.4,0.7,38.1,32.0,2015.0,1.0,2.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
2,720561,467.0,2015-01-03,38.7,36.7,3.0,43.3,36.9,2015.0,1.0,3.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
3,720561,467.0,2015-01-04,30.3,19.1,8.4,43.3,17.6,2015.0,1.0,4.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
4,720561,467.0,2015-01-05,25.6,9.2,4.8,44.6,15.8,2015.0,1.0,5.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47820080,A07355,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241.0,VIROQUA MUNICIPAL AIRPORT,US,WI,43.579,-90.913,394.1,"VIROQUA MUNICIPAL AIRPORT, WI, US<br>Elevation..."
47820081,A07357,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182.0,ELBOW LAKE MUNICIPAL PRIDE OF THE PRAIRIE AIRPORT,US,MN,45.986,-95.992,367.3,ELBOW LAKE MUNICIPAL PRIDE OF THE PRAIRIE AIRP...
47820082,A07359,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240.0,IONIA COUNTY AIRPORT,US,MI,42.938,-85.061,249.0,"IONIA COUNTY AIRPORT, MI, US<br>Elevation: 249..."
47820083,A51255,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445.0,DEMOPOLIS MUNICIPAL AIRPORT,US,AL,32.464,-87.954,34.1,"DEMOPOLIS MUNICIPAL AIRPORT, AL, US<br>Elevati..."
47820084,A51256,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,451.0,BRANSON WEST MUNICIPAL EMERSON FIELD AIRPORT,US,MO,36.699,-93.402,411.2,"BRANSON WEST MUNICIPAL EMERSON FIELD AIRPORT, ..."

In [21]:
new_df=us_merged_df.dropna(how='any')

In [22]:
new_df

,USAF,WBAN_x,YEARMODA,TEMP,DEWP,WDSP,MAX,MIN,YEAR,MONTH,DAY,WBAN_y,STATION NAME,CTRY,STATE,LAT,LON,ELEV(M),LBL
0,720561,467.0,2015-01-01,28.8,15.5,0.6,32.9,25.3,2015.0,1.0,1.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
1,720561,467.0,2015-01-02,34.5,32.4,0.7,38.1,32.0,2015.0,1.0,2.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
2,720561,467.0,2015-01-03,38.7,36.7,3.0,43.3,36.9,2015.0,1.0,3.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
3,720561,467.0,2015-01-04,30.3,19.1,8.4,43.3,17.6,2015.0,1.0,4.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
4,720561,467.0,2015-01-05,25.6,9.2,4.8,44.6,15.8,2015.0,1.0,5.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47810213,720724,99999.0,2018-12-28,24.2,22.5,4.7,29.1,21.2,2018.0,12.0,28.0,99999.0,BELEN RGNL ARPT,US,NM,34.646,-106.836,1584.8,"BELEN RGNL ARPT, NM, US<br>Elevation: 1584.8 m"
47810214,720724,99999.0,2018-12-29,10.5,6.9,5.0,21.7,-1.3,2018.0,12.0,29.0,99999.0,BELEN RGNL ARPT,US,NM,34.646,-106.836,1584.8,"BELEN RGNL ARPT, NM, US<br>Elevation: 1584.8 m"
47810215,720724,99999.0,2018-12-30,10.5,6.5,4.0,23.2,-2.2,2018.0,12.0,30.0,99999.0,BELEN RGNL ARPT,US,NM,34.646,-106.836,1584.8,"BELEN RGNL ARPT, NM, US<br>Elevation: 1584.8 m"
47810216,720724,99999.0,2018-12-31,13.1,9.4,3.4,28.4,2.7,2018.0,12.0,31.0,99999.0,BELEN RGNL ARPT,US,NM,34.646,-106.836,1584.8,"BELEN RGNL ARPT, NM, US<br>Elevation: 1584.8 m"
47810217,723400,3952.0,2018-04-15,38.7,28.3,8.9,40.6,37.4,2018.0,4.0,15.0,3952.0,NORTH LITTLE ROCK AIRPORT,US,AR,34.835,-92.260,171.6,"NORTH LITTLE ROCK AIRPORT, AR, US<br>Elevation..."

In [23]:
# us_drop_na_df = us_merged_df.dropna(how='any')
# us_drop_na_df

In [24]:
new_df

,USAF,WBAN_x,YEARMODA,TEMP,DEWP,WDSP,MAX,MIN,YEAR,MONTH,DAY,WBAN_y,STATION NAME,CTRY,STATE,LAT,LON,ELEV(M),LBL
0,720561,467.0,2015-01-01,28.8,15.5,0.6,32.9,25.3,2015.0,1.0,1.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
1,720561,467.0,2015-01-02,34.5,32.4,0.7,38.1,32.0,2015.0,1.0,2.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
2,720561,467.0,2015-01-03,38.7,36.7,3.0,43.3,36.9,2015.0,1.0,3.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
3,720561,467.0,2015-01-04,30.3,19.1,8.4,43.3,17.6,2015.0,1.0,4.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
4,720561,467.0,2015-01-05,25.6,9.2,4.8,44.6,15.8,2015.0,1.0,5.0,467.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47810213,720724,99999.0,2018-12-28,24.2,22.5,4.7,29.1,21.2,2018.0,12.0,28.0,99999.0,BELEN RGNL ARPT,US,NM,34.646,-106.836,1584.8,"BELEN RGNL ARPT, NM, US<br>Elevation: 1584.8 m"
47810214,720724,99999.0,2018-12-29,10.5,6.9,5.0,21.7,-1.3,2018.0,12.0,29.0,99999.0,BELEN RGNL ARPT,US,NM,34.646,-106.836,1584.8,"BELEN RGNL ARPT, NM, US<br>Elevation: 1584.8 m"
47810215,720724,99999.0,2018-12-30,10.5,6.5,4.0,23.2,-2.2,2018.0,12.0,30.0,99999.0,BELEN RGNL ARPT,US,NM,34.646,-106.836,1584.8,"BELEN RGNL ARPT, NM, US<br>Elevation: 1584.8 m"
47810216,720724,99999.0,2018-12-31,13.1,9.4,3.4,28.4,2.7,2018.0,12.0,31.0,99999.0,BELEN RGNL ARPT,US,NM,34.646,-106.836,1584.8,"BELEN RGNL ARPT, NM, US<br>Elevation: 1584.8 m"
47810217,723400,3952.0,2018-04-15,38.7,28.3,8.9,40.6,37.4,2018.0,4.0,15.0,3952.0,NORTH LITTLE ROCK AIRPORT,US,AR,34.835,-92.260,171.6,"NORTH LITTLE ROCK AIRPORT, AR, US<br>Elevation..."

In [25]:
if (new_df['WBAN_x'].equals(new_df['WBAN_y'])):
    new_df = new_df.drop(['WBAN_y'], axis=1)
    new_df = new_df.rename(columns={"WBAN_x": "WBAN"})
new_df

,USAF,WBAN,YEARMODA,TEMP,DEWP,WDSP,MAX,MIN,YEAR,MONTH,DAY,STATION NAME,CTRY,STATE,LAT,LON,ELEV(M),LBL
0,720561,467.0,2015-01-01,28.8,15.5,0.6,32.9,25.3,2015.0,1.0,1.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
1,720561,467.0,2015-01-02,34.5,32.4,0.7,38.1,32.0,2015.0,1.0,2.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
2,720561,467.0,2015-01-03,38.7,36.7,3.0,43.3,36.9,2015.0,1.0,3.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
3,720561,467.0,2015-01-04,30.3,19.1,8.4,43.3,17.6,2015.0,1.0,4.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
4,720561,467.0,2015-01-05,25.6,9.2,4.8,44.6,15.8,2015.0,1.0,5.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47810213,720724,99999.0,2018-12-28,24.2,22.5,4.7,29.1,21.2,2018.0,12.0,28.0,BELEN RGNL ARPT,US,NM,34.646,-106.836,1584.8,"BELEN RGNL ARPT, NM, US<br>Elevation: 1584.8 m"
47810214,720724,99999.0,2018-12-29,10.5,6.9,5.0,21.7,-1.3,2018.0,12.0,29.0,BELEN RGNL ARPT,US,NM,34.646,-106.836,1584.8,"BELEN RGNL ARPT, NM, US<br>Elevation: 1584.8 m"
47810215,720724,99999.0,2018-12-30,10.5,6.5,4.0,23.2,-2.2,2018.0,12.0,30.0,BELEN RGNL ARPT,US,NM,34.646,-106.836,1584.8,"BELEN RGNL ARPT, NM, US<br>Elevation: 1584.8 m"
47810216,720724,99999.0,2018-12-31,13.1,9.4,3.4,28.4,2.7,2018.0,12.0,31.0,BELEN RGNL ARPT,US,NM,34.646,-106.836,1584.8,"BELEN RGNL ARPT, NM, US<br>Elevation: 1584.8 m"
47810217,723400,3952.0,2018-04-15,38.7,28.3,8.9,40.6,37.4,2018.0,4.0,15.0,NORTH LITTLE ROCK AIRPORT,US,AR,34.835,-92.260,171.6,"NORTH LITTLE ROCK AIRPORT, AR, US<br>Elevation..."

In [26]:
# us_drop_na_df['YEARMODA']

In [27]:
# list(us_drop_na_df['YEARMODA'])

In [28]:
list(new_df['YEARMODA'])

[Timestamp('2015-01-01 00:00:00'),
 Timestamp('2015-01-02 00:00:00'),
 Timestamp('2015-01-03 00:00:00'),
 Timestamp('2015-01-04 00:00:00'),
 Timestamp('2015-01-05 00:00:00'),
 Timestamp('2015-01-06 00:00:00'),
 Timestamp('2015-01-07 00:00:00'),
 Timestamp('2015-01-08 00:00:00'),
 Timestamp('2015-01-09 00:00:00'),
 Timestamp('2015-01-10 00:00:00'),
 Timestamp('2015-01-11 00:00:00'),
 Timestamp('2015-01-12 00:00:00'),
 Timestamp('2015-01-13 00:00:00'),
 Timestamp('2015-01-14 00:00:00'),
 Timestamp('2015-01-15 00:00:00'),
 Timestamp('2015-01-16 00:00:00'),
 Timestamp('2015-01-17 00:00:00'),
 Timestamp('2015-01-18 00:00:00'),
 Timestamp('2015-01-19 00:00:00'),
 Timestamp('2015-01-20 00:00:00'),
 Timestamp('2015-01-21 00:00:00'),
 Timestamp('2015-01-22 00:00:00'),
 Timestamp('2015-01-23 00:00:00'),
 Timestamp('2015-01-24 00:00:00'),
 Timestamp('2015-01-25 00:00:00'),
 Timestamp('2015-01-26 00:00:00'),
 Timestamp('2015-01-27 00:00:00'),
 Timestamp('2015-01-28 00:00:00'),
 Timestamp('2015-01-29 00:00:00'),
 Timestamp('2015-01-30 00:00:00'),
 Timestamp('2015-01-31 00:00:00'),
 Timestamp('2015-02-01 00:00:00'),
 Timestamp('2015-02-02 00:00:00'),
 Timestamp('2015-02-03 00:00:00'),
 Timestamp('2015-02-04 00:00:00'),
 Timestamp('2015-02-05 00:00:00'),
 Timestamp('2015-02-06 00:00:00'),
 Timestamp('2015-02-07 00:00:00'),
 Timestamp('2015-02-08 00:00:00'),
 Timestamp('2015-02-09 00:00:00'),
 Timestamp('2015-02-10 00:00:00'),
 Timestamp('2015-02-11 00:00:00'),
 Timestamp('2015-02-12 00:00:00'),
 Timestamp('2015-02-13 00:00:00'),
 Timestamp('2015-02-14 00:00:00'),
 Timestamp('2015-02-15 00:00:00'),
 Timestamp('2015-02-16 00:00:00'),
 Timestamp('2015-02-17 00:00:00'),
 Timestamp('2015-02-18 00:00:00'),
 Timestamp('2015-02-19 00:00:00'),
 Timestamp('2015-02-20 00:00:00'),
 Timestamp('2015-02-21 00:00:00'),
 Timestamp('2015-02-22 00:00:00'),
 Timestamp('2015-02-23 00:00:00'),
 Timestamp('2015-02-24 00:00:00'),
 Timestamp('2015-02-25 00:00:00'),
 Timestamp('2015-02-26 00:00:00'),
 Timestamp('2015-02-27 00:00:00'),
 Timestamp('2015-02-28 00:00:00'),
 Timestamp('2015-03-01 00:00:00'),
 Timestamp('2015-03-02 00:00:00'),
 Timestamp('2015-03-03 00:00:00'),
 Timestamp('2015-03-04 00:00:00'),
 Timestamp('2015-03-05 00:00:00'),
 Timestamp('2015-03-06 00:00:00'),
 Timestamp('2015-03-07 00:00:00'),
 Timestamp('2015-03-08 00:00:00'),
 Timestamp('2015-03-09 00:00:00'),
 Timestamp('2015-03-10 00:00:00'),
 Timestamp('2015-03-11 00:00:00'),
 Timestamp('2015-03-12 00:00:00'),
 Timestamp('2015-03-13 00:00:00'),
 Timestamp('2015-03-14 00:00:00'),
 Timestamp('2015-03-15 00:00:00'),
 Timestamp('2015-03-16 00:00:00'),
 Timestamp('2015-03-17 00:00:00'),
 Timestamp('2015-03-18 00:00:00'),
 Timestamp('2015-03-19 00:00:00'),
 Timestamp('2015-03-20 00:00:00'),
 Timestamp('2015-03-21 00:00:00'),
 Timestamp('2015-03-22 00:00:00'),
 Timestamp('2015-03-23 00:00:00'),
 Timestamp('2015-03-24 00:00:00'),
 Timestamp('2015-03-25 00:00:00'),
 Timestamp('2015-03-26 00:00:00'),
 Timestamp('2015-03-27 00:00:00'),
 Timestamp('2015-03-28 00:00:00'),
 Timestamp('2015-03-29 00:00:00'),
 Timestamp('2015-03-30 00:00:00'),
 Timestamp('2015-03-31 00:00:00'),
 Timestamp('2015-04-01 00:00:00'),
 Timestamp('2015-04-02 00:00:00'),
 Timestamp('2015-04-03 00:00:00'),
 Timestamp('2015-04-04 00:00:00'),
 Timestamp('2015-04-05 00:00:00'),
 Timestamp('2015-04-06 00:00:00'),
 Timestamp('2015-04-07 00:00:00'),
 Timestamp('2015-04-08 00:00:00'),
 Timestamp('2015-04-09 00:00:00'),
 Timestamp('2015-04-10 00:00:00'),
 Timestamp('2015-04-11 00:00:00'),
 Timestamp('2015-04-12 00:00:00'),
 Timestamp('2015-04-13 00:00:00'),
 Timestamp('2015-04-16 00:00:00'),
 Timestamp('2015-04-17 00:00:00'),
 Timestamp('2015-04-18 00:00:00'),
 Timestamp('2015-04-19 00:00:00'),
 Timestamp('2015-04-20 00:00:00'),
 Timestamp('2015-04-21 00:00:00'),
 Timestamp('2015-04-22 00:00:00'),
 Timestamp('2015-04-23 00:00:00'),
 Timestamp('2015-04-24 00:00:00'),
 Timestamp('2015-04-25 00:00:00'),
 Timestamp('2015-04-26 00:00:00'),
 Timestamp('2015-04-27 00:00:00'),
 Timestamp('2015-04-28 00:00:00'),
 Timestamp('2015-04-29 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-05-02 00:00:00'),
 Timestamp('2015-05-03 00:00:00'),
 Timestamp('2015-05-04 00:00:00'),
 Timestamp('2015-05-05 00:00:00'),
 Timestamp('2015-05-06 00:00:00'),
 Timestamp('2015-05-07 00:00:00'),
 Timestamp('2015-05-08 00:00:00'),
 Timestamp('2015-05-09 00:00:00'),
 Timestamp('2015-05-10 00:00:00'),
 Timestamp('2015-05-11 00:00:00'),
 Timestamp('2015-05-12 00:00:00'),
 Timestamp('2015-05-13 00:00:00'),
 Timestamp('2015-05-14 00:00:00'),
 Timestamp('2015-05-15 00:00:00'),
 Timestamp('2015-05-16 00:00:00'),
 Timestamp('2015-05-17 00:00:00'),
 Timestamp('2015-05-18 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-05-20 00:00:00'),
 Timestamp('2015-05-21 00:00:00'),
 Timestamp('2015-05-22 00:00:00'),
 Timestamp('2015-05-23 00:00:00'),
 Timestamp('2015-05-24 00:00:00'),
 Timestamp('2015-05-25 00:00:00'),
 Timestamp('2015-05-26 00:00:00'),
 Timestamp('2015-05-27 00:00:00'),
 Timestamp('2015-05-28 00:00:00'),
 Timestamp('2015-05-29 00:00:00'),
 Timestamp('2015-05-30 00:00:00'),
 Timestamp('2015-05-31 00:00:00'),
 Timestamp('2015-06-01 00:00:00'),
 Timestamp('2015-06-02 00:00:00'),
 Timestamp('2015-06-03 00:00:00'),
 Timestamp('2015-06-04 00:00:00'),
 Timestamp('2015-06-05 00:00:00'),
 Timestamp('2015-06-06 00:00:00'),
 Timestamp('2015-06-07 00:00:00'),
 Timestamp('2015-06-08 00:00:00'),
 Timestamp('2015-06-09 00:00:00'),
 Timestamp('2015-06-10 00:00:00'),
 Timestamp('2015-06-11 00:00:00'),
 Timestamp('2015-06-12 00:00:00'),
 Timestamp('2015-06-13 00:00:00'),
 Timestamp('2015-06-14 00:00:00'),
 Timestamp('2015-06-15 00:00:00'),
 Timestamp('2015-06-16 00:00:00'),
 Timestamp('2015-06-17 00:00:00'),
 Timestamp('2015-06-18 00:00:00'),
 Timestamp('2015-06-19 00:00:00'),
 Timestamp('2015-06-20 00:00:00'),
 Timestamp('2015-06-21 00:00:00'),
 Timestamp('2015-06-22 00:00:00'),
 Timestamp('2015-06-23 00:00:00'),
 Timestamp('2015-06-24 00:00:00'),
 Timestamp('2015-06-25 00:00:00'),
 Timestamp('2015-06-26 00:00:00'),
 Timestamp('2015-06-27 00:00:00'),
 Timestamp('2015-06-28 00:00:00'),
 Timestamp('2015-06-29 00:00:00'),
 Timestamp('2015-06-30 00:00:00'),
 Timestamp('2015-07-01 00:00:00'),
 Timestamp('2015-07-02 00:00:00'),
 Timestamp('2015-07-03 00:00:00'),
 Timestamp('2015-07-04 00:00:00'),
 Timestamp('2015-07-05 00:00:00'),
 Timestamp('2015-07-06 00:00:00'),
 Timestamp('2015-07-07 00:00:00'),
 Timestamp('2015-07-08 00:00:00'),
 Timestamp('2015-07-09 00:00:00'),
 Timestamp('2015-07-10 00:00:00'),
 Timestamp('2015-07-11 00:00:00'),
 Timestamp('2015-07-12 00:00:00'),
 Timestamp('2015-07-13 00:00:00'),
 Timestamp('2015-07-14 00:00:00'),
 Timestamp('2015-07-15 00:00:00'),
 Timestamp('2015-07-16 00:00:00'),
 Timestamp('2015-07-17 00:00:00'),
 Timestamp('2015-07-18 00:00:00'),
 Timestamp('2015-07-19 00:00:00'),
 Timestamp('2015-07-20 00:00:00'),
 Timestamp('2015-07-21 00:00:00'),
 Timestamp('2015-07-22 00:00:00'),
 Timestamp('2015-07-23 00:00:00'),
 Timestamp('2015-07-24 00:00:00'),
 Timestamp('2015-07-25 00:00:00'),
 Timestamp('2015-07-26 00:00:00'),
 Timestamp('2015-07-27 00:00:00'),
 Timestamp('2015-07-28 00:00:00'),
 Timestamp('2015-07-29 00:00:00'),
 Timestamp('2015-07-30 00:00:00'),
 Timestamp('2015-07-31 00:00:00'),
 Timestamp('2015-08-01 00:00:00'),
 Timestamp('2015-08-02 00:00:00'),
 Timestamp('2015-08-03 00:00:00'),
 Timestamp('2015-08-04 00:00:00'),
 Timestamp('2015-08-05 00:00:00'),
 Timestamp('2015-08-06 00:00:00'),
 Timestamp('2015-08-07 00:00:00'),
 Timestamp('2015-08-08 00:00:00'),
 Timestamp('2015-08-09 00:00:00'),
 Timestamp('2015-08-10 00:00:00'),
 Timestamp('2015-08-11 00:00:00'),
 Timestamp('2015-08-12 00:00:00'),
 Timestamp('2015-08-13 00:00:00'),
 Timestamp('2015-08-14 00:00:00'),
 Timestamp('2015-08-15 00:00:00'),
 Timestamp('2015-08-16 00:00:00'),
 Timestamp('2015-08-17 00:00:00'),
 Timestamp('2015-08-18 00:00:00'),
 Timestamp('2015-08-19 00:00:00'),
 Timestamp('2015-08-20 00:00:00'),
 Timestamp('2015-08-21 00:00:00'),
 Timestamp('2015-08-22 00:00:00'),
 Timestamp('2015-08-23 00:00:00'),
 Timestamp('2015-08-24 00:00:00'),
 Timestamp('2015-08-25 00:00:00'),
 Timestamp('2015-08-26 00:00:00'),
 Timestamp('2015-08-27 00:00:00'),
 Timestamp('2015-08-28 00:00:00'),
 Timestamp('2015-08-29 00:00:00'),
 Timestamp('2015-08-30 00:00:00'),
 Timestamp('2015-08-31 00:00:00'),
 Timestamp('2015-09-01 00:00:00'),
 Timestamp('2015-09-02 00:00:00'),
 Timestamp('2015-09-03 00:00:00'),
 Timestamp('2015-09-04 00:00:00'),
 Timestamp('2015-09-05 00:00:00'),
 Timestamp('2015-09-06 00:00:00'),
 Timestamp('2015-09-07 00:00:00'),
 Timestamp('2015-09-08 00:00:00'),
 Timestamp('2015-09-09 00:00:00'),
 Timestamp('2015-09-10 00:00:00'),
 Timestamp('2015-09-11 00:00:00'),
 Timestamp('2015-09-12 00:00:00'),
 Timestamp('2015-09-13 00:00:00'),
 Timestamp('2015-09-14 00:00:00'),
 Timestamp('2015-09-15 00:00:00'),
 Timestamp('2015-09-16 00:00:00'),
 Timestamp('2015-09-17 00:00:00'),
 Timestamp('2015-09-18 00:00:00'),
 Timestamp('2015-09-19 00:00:00'),
 Timestamp('2015-09-20 00:00:00'),
 Timestamp('2015-09-21 00:00:00'),
 Timestamp('2015-09-22 00:00:00'),
 Timestamp('2015-09-23 00:00:00'),
 Timestamp('2015-09-24 00:00:00'),
 Timestamp('2015-09-25 00:00:00'),
 Timestamp('2015-09-26 00:00:00'),
 Timestamp('2015-09-27 00:00:00'),
 Timestamp('2015-09-28 00:00:00'),
 Timestamp('2015-09-29 00:00:00'),
 Timestamp('2015-09-30 00:00:00'),
 Timestamp('2015-10-01 00:00:00'),
 Timestamp('2015-10-02 00:00:00'),
 Timestamp('2015-10-03 00:00:00'),
 Timestamp('2015-10-04 00:00:00'),
 Timestamp('2015-10-05 00:00:00'),
 Timestamp('2015-10-06 00:00:00'),
 Timestamp('2015-10-07 00:00:00'),
 Timestamp('2015-10-08 00:00:00'),
 Timestamp('2015-10-09 00:00:00'),
 Timestamp('2015-10-10 00:00:00'),
 Timestamp('2015-10-11 00:00:00'),
 Timestamp('2015-10-12 00:00:00'),
 Timestamp('2015-10-13 00:00:00'),
 Timestamp('2015-10-14 00:00:00'),
 Timestamp('2015-10-15 00:00:00'),
 Timestamp('2015-10-16 00:00:00'),
 Timestamp('2015-10-17 00:00:00'),
 Timestamp('2015-10-18 00:00:00'),
 Timestamp('2015-10-19 00:00:00'),
 Timestamp('2015-10-20 00:00:00'),
 Timestamp('2015-10-21 00:00:00'),
 Timestamp('2015-10-22 00:00:00'),
 Timestamp('2015-10-23 00:00:00'),
 Timestamp('2015-10-24 00:00:00'),
 Timestamp('2015-10-25 00:00:00'),
 Timestamp('2015-10-26 00:00:00'),
 Timestamp('2015-10-27 00:00:00'),
 Timestamp('2015-10-28 00:00:00'),
 Timestamp('2015-10-29 00:00:00'),
 Timestamp('2015-10-30 00:00:00'),
 Timestamp('2015-10-31 00:00:00'),
 Timestamp('2015-11-01 00:00:00'),
 Timestamp('2015-11-02 00:00:00'),
 Timestamp('2015-11-03 00:00:00'),
 Timestamp('2015-11-04 00:00:00'),
 Timestamp('2015-11-05 00:00:00'),
 Timestamp('2015-11-06 00:00:00'),
 Timestamp('2015-11-07 00:00:00'),
 Timestamp('2015-11-08 00:00:00'),
 Timestamp('2015-11-09 00:00:00'),
 Timestamp('2015-11-10 00:00:00'),
 Timestamp('2015-11-11 00:00:00'),
 Timestamp('2015-11-12 00:00:00'),
 Timestamp('2015-11-13 00:00:00'),
 Timestamp('2015-11-14 00:00:00'),
 Timestamp('2015-11-15 00:00:00'),
 Timestamp('2015-11-16 00:00:00'),
 Timestamp('2015-11-17 00:00:00'),
 Timestamp('2015-11-18 00:00:00'),
 Timestamp('2015-11-19 00:00:00'),
 Timestamp('2015-11-20 00:00:00'),
 Timestamp('2015-11-21 00:00:00'),
 Timestamp('2015-11-22 00:00:00'),
 Timestamp('2015-11-23 00:00:00'),
 Timestamp('2015-11-24 00:00:00'),
 Timestamp('2015-11-25 00:00:00'),
 Timestamp('2015-11-26 00:00:00'),
 Timestamp('2015-11-27 00:00:00'),
 Timestamp('2015-11-28 00:00:00'),
 Timestamp('2015-11-29 00:00:00'),
 Timestamp('2015-11-30 00:00:00'),
 Timestamp('2015-12-01 00:00:00'),
 Timestamp('2015-12-02 00:00:00'),
 Timestamp('2015-12-03 00:00:00'),
 Timestamp('2015-12-04 00:00:00'),
 Timestamp('2015-12-05 00:00:00'),
 Timestamp('2015-12-06 00:00:00'),
 Timestamp('2015-12-07 00:00:00'),
 Timestamp('2015-12-08 00:00:00'),
 Timestamp('2015-12-09 00:00:00'),
 Timestamp('2015-12-10 00:00:00'),
 Timestamp('2015-12-11 00:00:00'),
 Timestamp('2015-12-12 00:00:00'),
 Timestamp('2015-12-13 00:00:00'),
 Timestamp('2015-12-14 00:00:00'),
 Timestamp('2015-12-15 00:00:00'),
 Timestamp('2015-12-16 00:00:00'),
 Timestamp('2015-12-17 00:00:00'),
 Timestamp('2015-12-18 00:00:00'),
 Timestamp('2015-12-19 00:00:00'),
 Timestamp('2015-12-20 00:00:00'),
 Timestamp('2015-12-21 00:00:00'),
 Timestamp('2015-12-22 00:00:00'),
 Timestamp('2015-12-23 00:00:00'),
 Timestamp('2015-12-24 00:00:00'),
 Timestamp('2015-12-25 00:00:00'),
 Timestamp('2015-12-26 00:00:00'),
 Timestamp('2015-12-27 00:00:00'),
 Timestamp('2015-12-28 00:00:00'),
 Timestamp('2015-12-29 00:00:00'),
 Timestamp('2015-12-30 00:00:00'),
 Timestamp('2015-12-31 00:00:00'),
 Timestamp('2016-01-01 00:00:00'),
 Timestamp('2016-01-02 00:00:00'),
 Timestamp('2016-01-03 00:00:00'),
 Timestamp('2016-01-04 00:00:00'),
 Timestamp('2016-01-05 00:00:00'),
 Timestamp('2016-01-06 00:00:00'),
 Timestamp('2016-01-07 00:00:00'),
 Timestamp('2016-01-08 00:00:00'),
 Timestamp('2016-01-09 00:00:00'),
 Timestamp('2016-01-10 00:00:00'),
 Timestamp('2016-01-11 00:00:00'),
 Timestamp('2016-01-12 00:00:00'),
 Timestamp('2016-01-13 00:00:00'),
 Timestamp('2016-01-14 00:00:00'),
 Timestamp('2016-01-15 00:00:00'),
 Timestamp('2016-01-16 00:00:00'),
 Timestamp('2016-01-17 00:00:00'),
 Timestamp('2016-01-18 00:00:00'),
 Timestamp('2016-01-19 00:00:00'),
 Timestamp('2016-01-20 00:00:00'),
 Timestamp('2016-01-21 00:00:00'),
 Timestamp('2016-01-22 00:00:00'),
 Timestamp('2016-01-23 00:00:00'),
 Timestamp('2016-01-24 00:00:00'),
 Timestamp('2016-01-25 00:00:00'),
 Timestamp('2016-01-26 00:00:00'),
 Timestamp('2016-01-27 00:00:00'),
 Timestamp('2016-01-28 00:00:00'),
 Timestamp('2016-01-29 00:00:00'),
 Timestamp('2016-01-30 00:00:00'),
 Timestamp('2016-01-31 00:00:00'),
 Timestamp('2016-02-01 00:00:00'),
 Timestamp('2016-02-02 00:00:00'),
 Timestamp('2016-02-03 00:00:00'),
 Timestamp('2016-02-04 00:00:00'),
 Timestamp('2016-02-05 00:00:00'),
 Timestamp('2016-02-06 00:00:00'),
 Timestamp('2016-02-07 00:00:00'),
 Timestamp('2016-02-08 00:00:00'),
 Timestamp('2016-02-09 00:00:00'),
 Timestamp('2016-02-11 00:00:00'),
 Timestamp('2016-02-12 00:00:00'),
 Timestamp('2016-02-13 00:00:00'),
 Timestamp('2016-02-14 00:00:00'),
 Timestamp('2016-02-15 00:00:00'),
 Timestamp('2016-02-16 00:00:00'),
 Timestamp('2016-02-17 00:00:00'),
 Timestamp('2016-02-18 00:00:00'),
 Timestamp('2016-02-19 00:00:00'),
 Timestamp('2016-02-20 00:00:00'),
 Timestamp('2016-02-21 00:00:00'),
 Timestamp('2016-02-22 00:00:00'),
 Timestamp('2016-02-23 00:00:00'),
 Timestamp('2016-02-24 00:00:00'),
 Timestamp('2016-02-25 00:00:00'),
 Timestamp('2016-02-26 00:00:00'),
 Timestamp('2016-02-27 00:00:00'),
 Timestamp('2016-02-28 00:00:00'),
 Timestamp('2016-02-29 00:00:00'),
 Timestamp('2016-03-01 00:00:00'),
 Timestamp('2016-03-02 00:00:00'),
 Timestamp('2016-03-03 00:00:00'),
 Timestamp('2016-03-04 00:00:00'),
 Timestamp('2016-03-05 00:00:00'),
 Timestamp('2016-03-06 00:00:00'),
 Timestamp('2016-03-07 00:00:00'),
 Timestamp('2016-03-08 00:00:00'),
 Timestamp('2016-03-09 00:00:00'),
 Timestamp('2016-03-10 00:00:00'),
 Timestamp('2016-03-11 00:00:00'),
 Timestamp('2016-03-12 00:00:00'),
 Timestamp('2016-03-13 00:00:00'),
 Timestamp('2016-03-14 00:00:00'),
 Timestamp('2016-03-15 00:00:00'),
 Timestamp('2016-03-16 00:00:00'),
 Timestamp('2016-03-17 00:00:00'),
 Timestamp('2016-03-18 00:00:00'),
 Timestamp('2016-03-19 00:00:00'),
 Timestamp('2016-03-20 00:00:00'),
 Timestamp('2016-03-21 00:00:00'),
 Timestamp('2016-03-22 00:00:00'),
 Timestamp('2016-03-23 00:00:00'),
 Timestamp('2016-03-24 00:00:00'),
 Timestamp('2016-03-25 00:00:00'),
 Timestamp('2016-03-26 00:00:00'),
 Timestamp('2016-03-27 00:00:00'),
 Timestamp('2016-03-28 00:00:00'),
 Timestamp('2016-03-29 00:00:00'),
 Timestamp('2016-03-30 00:00:00'),
 Timestamp('2016-03-31 00:00:00'),
 Timestamp('2016-04-01 00:00:00'),
 Timestamp('2016-04-02 00:00:00'),
 Timestamp('2016-04-03 00:00:00'),
 Timestamp('2016-04-04 00:00:00'),
 Timestamp('2016-04-05 00:00:00'),
 Timestamp('2016-04-06 00:00:00'),
 Timestamp('2016-04-07 00:00:00'),
 Timestamp('2016-04-08 00:00:00'),
 Timestamp('2016-04-09 00:00:00'),
 Timestamp('2016-04-10 00:00:00'),
 Timestamp('2016-04-11 00:00:00'),
 Timestamp('2016-04-12 00:00:00'),
 Timestamp('2016-04-13 00:00:00'),
 Timestamp('2016-04-14 00:00:00'),
 Timestamp('2016-04-15 00:00:00'),
 Timestamp('2016-04-16 00:00:00'),
 Timestamp('2016-04-17 00:00:00'),
 Timestamp('2016-04-18 00:00:00'),
 Timestamp('2016-04-19 00:00:00'),
 Timestamp('2016-04-20 00:00:00'),
 Timestamp('2016-04-21 00:00:00'),
 Timestamp('2016-04-22 00:00:00'),
 Timestamp('2016-04-23 00:00:00'),
 Timestamp('2016-04-24 00:00:00'),
 Timestamp('2016-04-25 00:00:00'),
 Timestamp('2016-04-26 00:00:00'),
 Timestamp('2016-04-27 00:00:00'),
 Timestamp('2016-04-28 00:00:00'),
 Timestamp('2016-04-29 00:00:00'),
 Timestamp('2016-04-30 00:00:00'),
 Timestamp('2016-05-01 00:00:00'),
 Timestamp('2016-05-02 00:00:00'),
 Timestamp('2016-05-03 00:00:00'),
 Timestamp('2016-05-04 00:00:00'),
 Timestamp('2016-05-05 00:00:00'),
 Timestamp('2016-05-06 00:00:00'),
 Timestamp('2016-05-07 00:00:00'),
 Timestamp('2016-05-08 00:00:00'),
 Timestamp('2016-05-09 00:00:00'),
 Timestamp('2016-05-10 00:00:00'),
 Timestamp('2016-05-11 00:00:00'),
 Timestamp('2016-05-12 00:00:00'),
 Timestamp('2016-05-13 00:00:00'),
 Timestamp('2016-05-14 00:00:00'),
 Timestamp('2016-05-15 00:00:00'),
 Timestamp('2016-05-16 00:00:00'),
 Timestamp('2016-05-17 00:00:00'),
 Timestamp('2016-05-18 00:00:00'),
 Timestamp('2016-05-19 00:00:00'),
 Timestamp('2016-05-20 00:00:00'),
 Timestamp('2016-05-21 00:00:00'),
 Timestamp('2016-05-22 00:00:00'),
 Timestamp('2016-05-23 00:00:00'),
 Timestamp('2016-05-24 00:00:00'),
 Timestamp('2016-05-25 00:00:00'),
 Timestamp('2016-05-26 00:00:00'),
 Timestamp('2016-05-27 00:00:00'),
 Timestamp('2016-05-28 00:00:00'),
 Timestamp('2016-05-29 00:00:00'),
 Timestamp('2016-05-30 00:00:00'),
 Timestamp('2016-05-31 00:00:00'),
 Timestamp('2016-06-01 00:00:00'),
 Timestamp('2016-06-02 00:00:00'),
 Timestamp('2016-06-03 00:00:00'),
 Timestamp('2016-06-04 00:00:00'),
 Timestamp('2016-06-05 00:00:00'),
 Timestamp('2016-06-06 00:00:00'),
 Timestamp('2016-06-07 00:00:00'),
 Timestamp('2016-06-08 00:00:00'),
 Timestamp('2016-06-09 00:00:00'),
 Timestamp('2016-06-10 00:00:00'),
 Timestamp('2016-06-11 00:00:00'),
 Timestamp('2016-06-12 00:00:00'),
 Timestamp('2016-06-13 00:00:00'),
 Timestamp('2016-06-14 00:00:00'),
 Timestamp('2016-06-15 00:00:00'),
 Timestamp('2016-06-16 00:00:00'),
 Timestamp('2016-06-17 00:00:00'),
 Timestamp('2016-06-18 00:00:00'),
 Timestamp('2016-06-19 00:00:00'),
 Timestamp('2016-06-20 00:00:00'),
 Timestamp('2016-06-21 00:00:00'),
 Timestamp('2016-06-22 00:00:00'),
 Timestamp('2016-06-23 00:00:00'),
 Timestamp('2016-06-24 00:00:00'),
 Timestamp('2016-06-25 00:00:00'),
 Timestamp('2016-06-26 00:00:00'),
 Timestamp('2016-06-27 00:00:00'),
 Timestamp('2016-06-28 00:00:00'),
 Timestamp('2016-06-29 00:00:00'),
 Timestamp('2016-06-30 00:00:00'),
 Timestamp('2016-07-01 00:00:00'),
 Timestamp('2016-07-02 00:00:00'),
 Timestamp('2016-07-03 00:00:00'),
 Timestamp('2016-07-04 00:00:00'),
 Timestamp('2016-07-05 00:00:00'),
 Timestamp('2016-07-06 00:00:00'),
 Timestamp('2016-07-07 00:00:00'),
 Timestamp('2016-07-08 00:00:00'),
 Timestamp('2016-07-09 00:00:00'),
 Timestamp('2016-07-10 00:00:00'),
 Timestamp('2016-07-11 00:00:00'),
 Timestamp('2016-07-12 00:00:00'),
 Timestamp('2016-07-13 00:00:00'),
 Timestamp('2016-07-14 00:00:00'),
 Timestamp('2016-07-15 00:00:00'),
 Timestamp('2016-07-16 00:00:00'),
 Timestamp('2016-07-17 00:00:00'),
 Timestamp('2016-07-18 00:00:00'),
 Timestamp('2016-07-19 00:00:00'),
 Timestamp('2016-07-20 00:00:00'),
 Timestamp('2016-07-21 00:00:00'),
 Timestamp('2016-07-22 00:00:00'),
 Timestamp('2016-07-23 00:00:00'),
 Timestamp('2016-07-24 00:00:00'),
 Timestamp('2016-07-25 00:00:00'),
 Timestamp('2016-07-26 00:00:00'),
 Timestamp('2016-07-27 00:00:00'),

In [29]:

new_df.dtypes

USAF                    object
WBAN                   float64
YEARMODA        datetime64[ns]
TEMP                   float64
DEWP                   float64
WDSP                   float64
MAX                    float64
MIN                    float64
YEAR                   float64
MONTH                  float64
DAY                    float64
STATION NAME            object
CTRY                    object
STATE                   object
LAT                    float64
LON                    float64
ELEV(M)                float64
LBL                     object
dtype: object

In [30]:
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
db = client.USWeather
collection = db.weather
db.collection.insert_many(new_df.to_dict('records'))

In [31]:
merged_agg_df = pd.merge(df, station_loc, how="outer", on="USAF")
merged_agg_df
merged_clean_agg_df = merged_agg_df.loc[merged_agg_df['MIN'] != 9999.9]
merged_clean_agg_df = merged_clean_agg_df.loc[merged_clean_agg_df['MAX'] != 9999.9]
merged_clean_agg_df = merged_clean_agg_df.loc[merged_clean_agg_df['TEMP'] != 9999.9]
merged_clean_agg_df = merged_clean_agg_df.loc[merged_clean_agg_df["USAF"] != "999999", :]
merged_clean_agg_df.dropna(how='any')
us_merged_agg_df = merged_clean_agg_df.loc[merged_clean_agg_df["CTRY"] == "US", :]
us_merged_agg_df
new_agg_df=us_merged_agg_df.dropna(how='any')
if (new_agg_df['WBAN_x'].equals(new_agg_df['WBAN_y'])):
    new_agg_df = new_agg_df.drop(['WBAN_y'], axis=1)
    new_agg_df = new_agg_df.rename(columns={"WBAN_x": "WBAN"})
new_agg_df

,USAF,WBAN,YEAR,MONTH,TEMP,DEWP,WDSP,MAX,MIN,DAY,STATION NAME,CTRY,STATE,LAT,LON,ELEV(M),LBL
0,720561,467.0,2015.0,1.0,40.30,25.70,4.60,50.9,32.00,16.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
1,720561,467.0,2015.0,2.0,37.75,20.80,5.75,52.7,26.70,14.5,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
2,720561,467.0,2015.0,3.0,55.70,42.40,5.40,70.0,46.40,16.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
3,720561,467.0,2015.0,4.0,64.60,50.85,6.95,78.8,54.85,16.5,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
4,720561,467.0,2015.0,5.0,68.80,61.80,5.50,80.4,62.80,16.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1588156,720359,23902.0,2018.0,10.0,57.50,49.40,3.40,71.6,50.00,16.0,SEMINOLE MUNICIPAL AIRPORT,US,OK,35.275,-96.675,312.1,"SEMINOLE MUNICIPAL AIRPORT, OK, US<br>Elevatio..."
1588157,720359,23902.0,2018.0,11.0,47.90,32.20,4.40,62.6,35.60,15.5,SEMINOLE MUNICIPAL AIRPORT,US,OK,35.275,-96.675,312.1,"SEMINOLE MUNICIPAL AIRPORT, OK, US<br>Elevatio..."
1588158,720359,23902.0,2018.0,12.0,43.40,29.00,5.90,55.4,33.80,16.0,SEMINOLE MUNICIPAL AIRPORT,US,OK,35.275,-96.675,312.1,"SEMINOLE MUNICIPAL AIRPORT, OK, US<br>Elevatio..."
1588159,720724,99999.0,2018.0,12.0,36.00,15.30,4.15,52.7,24.55,17.5,BELEN RGNL ARPT,US,NM,34.646,-106.836,1584.8,"BELEN RGNL ARPT, NM, US<br>Elevation: 1584.8 m"
1588160,723400,3952.0,2018.0,4.0,38.70,28.30,8.90,40.6,37.40,15.0,NORTH LITTLE ROCK AIRPORT,US,AR,34.835,-92.260,171.6,"NORTH LITTLE ROCK AIRPORT, AR, US<br>Elevation..."

In [32]:
#Set a timestamp to the beginning of the month for aggregates
# https://stackoverflow.com/questions/26886653/pandas-create-new-column-based-on-values-from-other-columns-apply-a-function-o
# https://www.w3schools.com/python/python_datetime.asp
def add_aggregate_timestamp(row):
    return dt.datetime(int(row['YEAR']), int(row['MONTH']), 1)

new_agg_df['YEARMODA'] = new_agg_df.apply(lambda row: add_aggregate_timestamp(row), axis=1)
new_agg_df

,USAF,WBAN,YEAR,MONTH,TEMP,DEWP,WDSP,MAX,MIN,DAY,STATION NAME,CTRY,STATE,LAT,LON,ELEV(M),LBL,YEARMODA
0,720561,467.0,2015.0,1.0,40.30,25.70,4.60,50.9,32.00,16.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E...",2015-01-01
1,720561,467.0,2015.0,2.0,37.75,20.80,5.75,52.7,26.70,14.5,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E...",2015-02-01
2,720561,467.0,2015.0,3.0,55.70,42.40,5.40,70.0,46.40,16.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E...",2015-03-01
3,720561,467.0,2015.0,4.0,64.60,50.85,6.95,78.8,54.85,16.5,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E...",2015-04-01
4,720561,467.0,2015.0,5.0,68.80,61.80,5.50,80.4,62.80,16.0,WILLIAM R POUGE MUNICIPAL AIRPORT,US,OK,36.175,-96.152,272.2,"WILLIAM R POUGE MUNICIPAL AIRPORT, OK, US<br>E...",2015-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1588156,720359,23902.0,2018.0,10.0,57.50,49.40,3.40,71.6,50.00,16.0,SEMINOLE MUNICIPAL AIRPORT,US,OK,35.275,-96.675,312.1,"SEMINOLE MUNICIPAL AIRPORT, OK, US<br>Elevatio...",2018-10-01
1588157,720359,23902.0,2018.0,11.0,47.90,32.20,4.40,62.6,35.60,15.5,SEMINOLE MUNICIPAL AIRPORT,US,OK,35.275,-96.675,312.1,"SEMINOLE MUNICIPAL AIRPORT, OK, US<br>Elevatio...",2018-11-01
1588158,720359,23902.0,2018.0,12.0,43.40,29.00,5.90,55.4,33.80,16.0,SEMINOLE MUNICIPAL AIRPORT,US,OK,35.275,-96.675,312.1,"SEMINOLE MUNICIPAL AIRPORT, OK, US<br>Elevatio...",2018-12-01
1588159,720724,99999.0,2018.0,12.0,36.00,15.30,4.15,52.7,24.55,17.5,BELEN RGNL ARPT,US,NM,34.646,-106.836,1584.8,"BELEN RGNL ARPT, NM, US<br>Elevation: 1584.8 m",2018-12-01
1588160,723400,3952.0,2018.0,4.0,38.70,28.30,8.90,40.6,37.40,15.0,NORTH LITTLE ROCK AIRPORT,US,AR,34.835,-92.260,171.6,"NORTH LITTLE ROCK AIRPORT, AR, US<br>Elevation...",2018-04-01

In [33]:
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
db = client.USWeatherAgg
collection = db.weather
db.collection.insert_many(new_agg_df.to_dict('records'))